name: brew test-bot
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test-bot:
    strategy:
      matrix:
        os: [macos-13]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Cache Homebrew Bundler RubyGems
        id: cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.set-up-homebrew.outputs.gems-path }}
          key: ${{ runner.os }}-rubygems-${{ steps.set-up-homebrew.outputs.gems-hash }}
          restore-keys: ${{ runner.os }}-rubygems-

      - name: Install Homebrew Bundler RubyGems
        if: steps.cache.outputs.cache-hit != 'true'
        run: brew install-bundler-gems

      - run: brew test-bot --tap conversence/ConversenceTaps --only-cleanup-before

      - run: brew test-bot --tap conversence/ConversenceTaps --only-setup

      - run: brew test-bot --tap conversence/ConversenceTaps --only-tap-syntax

      - run: brew test-bot --tap conversence/ConversenceTaps --root-url=https://ghcr.io/v2/conversence/ConversenceTaps --only-formulae
        if: github.event_name == 'pull_request' || github.event_name == 'push'

      - name: Upload bottles as artifact
        if: always() && (github.event_name == 'pull_request' || github.event_name == 'push')
        uses: actions/upload-artifact@main
        with:
          name: bottles
          path: '*.bottle.*'
